<!-- ***********************************
**
**  HLN Skin Template
**     
**  Initial        Date            Version            Change
**      CM      11/13/13               1.0           1. Initial Code
************************************ -->


<script> /* [%TICKET_NUM%] - V.1.0 */
    var qaBackgroundColor = "[%BACKGROUND_COLOR%]"; 
    var qaCreativeURL = "[%IMAGE_URL%]"; // Link to where the skin creative is located// Link to where the skin creative is located               
    var qaWidth = [%WIDTH%]; // WIDTH OF CREATIVE
    var qaHeight = [%HEIGHT%]; // HEIGHT OF CREATIVE   
    var qaClickThru = "[%CLICKTHROUGH_URL%]"; // Redirect URL
    var qa3PImpressions = ["[%IMP_PIXEL1%]","[%IMP_PIXEL2%]","[%IMP_PIXEL3%]","[%IMP_PIXEL4%]","[%IMP_PIXEL5%]"]; // to include impressions, array must be in this format ["http://www.imp1.com","http://www.imp2.com"];
    var qaSkinPos = "[%POSITION%]"; //scroll or fixed
    var qaClickable = [%CLICKABLE%];  // true or false
    var qaTopPos = [%TOP%];  //Sets top placement of the skin
        
    // DFP CLICK/IMPRESSION TRACKING
    var qaClickTracker = "%%CLICK_URL_UNESC%%";
    var qaImpTracker = "%%VIEW_URL_UNESC%%";

    var qaClickPixel = "http://i.cdn.turner.com/ttn/ttn_adspaces/1.0/creatives/2012/2/10/1529111x1.gif";

// BUILD THE DIV TO CONTAIN THE SKIN AS THE FIRST DIV IN THE BODY
    var bodyTag = parent.document.getElementsByTagName('body')[0];
     bodyTag.style.background = qaBackgroundColor+" url('"+qaCreativeURL+"') no-repeat  "+qaSkinPos+" center "+qaTopPos+"px"; 


//BRING THE FOOTER & MAIN SECTIONS FORWARD ON TOP OF THE SKIN    
    window.onload = function(){   
        var pageDiv = parent.document.getElementById('page');
        if(pageDiv){
            pageDiv.style.position = "relative";
            pageDiv.style.zIndex = "1";
        }
        var headerBar = parent.document.getElementById('header-bar');
        if(headerBar){
            headerBar.style.zIndex = "1";
        }        
    }
    
// ADD IMPRESSION TRACKING
    var impImg = parent.document.createElement('img');
    var trkPixImg = parent.document.createElement('img');
    var skinLink = parent.document.createElement('a');
    var skinImg = parent.document.createElement('img');


//SET THE CLICKABLE AREA FOR THE SKIN
    if(qaClickable){
        var leftWing = document.createElement('div');
        var rightWing = document.createElement('div');

        rightWing.setAttribute('id', 'rightWing');
        rightWing.style.height = qaHeight+"px";
        rightWing.style.width = "25%";
        rightWing.style.right = "25%";
        rightWing.style.marginRight = "-508px";
        rightWing.style.position = (qaSkinPos=="scroll" ? "absolute":"fixed");
        rightWing.style.top = qaTopPos+"px";
        rightWing.style.zIndex = "1";
        rightWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+" border=0 style='width:99%; position:relative; z-index:2;'></a>";
        bodyTag.insertBefore(rightWing, bodyTag.firstChild);
        
        leftWing.setAttribute('id', 'leftWing');
        leftWing.style.height = qaHeight+"px";
        leftWing.style.width = "25%";
        leftWing.style.left = "25%";
        leftWing.style.marginLeft = "-500px";
        leftWing.style.position = (qaSkinPos=="scroll" ? "absolute":"fixed");
        leftWing.style.top = qaTopPos+"px";
        leftWing.style.zIndex = "1";
        leftWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+" border=0 style='width:99%; position:relative; z-index:2;'></a>";
        bodyTag.insertBefore(leftWing, rightWing);
    }

//BUILD THE IMPRESSION TRACKING TAG
    impImg.setAttribute('src',  qaImpTracker+qaClickPixel);

//BUILD THE 3RD PARTY IMPRESSION PIXELS
    for (var index = 0; index < qa3PImpressions.length; index++){
        if(qa3PImpressions[index].length > 10){
            trkPixImg = document.createElement('img');
            trkPixImg.setAttribute('src', qa3PImpressions[index]);
            trkPixImg.setAttribute('width', "1");
            trkPixImg.setAttribute('height', "1");
            trkPixImg.style.position = 'absolute';
            trkPixImg.style.visibility = 'hidden';
            leftWing.appendChild(trkPixImg);
        }
    }    
    leftWing.appendChild(impImg);
</script>
