<script type="text/javascript"> /* [%TICKET_NUM%] - V.1.0 */
// SET SKIN ATTRIBUTES
    var qaLeftCreativeURL = "[%LFT_IMAGE_URL%]"; 
    var qaRightCreativeURL = "[%RGT_IMAGE_URL%]"; 
    var qaHeight = [%HEIGHT%]; 
    var qaWidth = [%WIDTH%]; 
    var qaBackgroundColor = "[%BACKGROUND_COLOR%]";
    var qa3PImpressions = ["[%IMP_PIXEL1%]","[%IMP_PIXEL2%]","[%IMP_PIXEL3%]","[%IMP_PIXEL4%]","[%IMP_PIXEL5%]"];  
    var qaTopPos = [%TOP%]; 
    var qaSkinPos = "[%POSITION%]"; 
    var qaClickable = [%CLICKABLE%]; 
    var qaClickThru = "[%CLICKTHROUGH_URL%]";
    var qaAddBuffer = [%INCLUDE_BUFFER%];

    // DFP CLICK/IMPRESSION TRACKING
    var qaClickTracker = "%%CLICK_URL_UNESC%%";
    var qaImpTracker = "%%VIEW_URL_UNESC%%";

    var qaClickPixel = "http://i.cdn.turner.com/ttn/ttn_adspaces/1.0/creatives/2012/2/10/1529111x1.gif";
    var qaCNBuffer = "http://www.cartoonnetwork.com/redirects/index.html?"; 

    var leftWing = document.createElement('div');
    var rightWing = document.createElement('div');

    window.onload = function(){   
    // POST SKIN IMAGE TO PAGE
        var bodyTag = parent.document.getElementsByTagName('body')[0];
        bodyTag.style.backgroundColor = qaBackgroundColor;


        rightWing.setAttribute('id', 'rightWing');
        rightWing.style.height = qaHeight+"px";
        rightWing.style.width = qaWidth+"px";
        rightWing.style.right = "-640px";
        rightWing.style.marginRight = "50%";
        rightWing.style.position = (qaSkinPos=="scroll" ? "absolute":"fixed");
        rightWing.style.top = qaTopPos+"px";
        if(qaClickable){
            if(qaAddBuffer){
                rightWing.innerHTML = "<a href="+qaClickTracker+qaCNBuffer+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+"border=0 style='width:99%; position:relative; z-index:2;'></a>";
            }
            else{
                rightWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+"border=0 style='width:99%; position:relative; z-index:2;'></a>";                
            }

        }
        rightWing.style.backgroundImage =  "url("+qaRightCreativeURL+")";
        rightWing.style.backgroundRepeat = "no-repeat";
        bodyTag.insertBefore(rightWing, bodyTag.firstChild);

        leftWing.setAttribute('id', 'leftWing');
        leftWing.style.height = qaHeight+"px";
        leftWing.style.width = qaWidth+"px";
        leftWing.style.left = "-640px";
        leftWing.style.marginLeft = "50%";
        leftWing.style.position = (qaSkinPos=="scroll" ? "absolute":"fixed");
        leftWing.style.top = qaTopPos+"px";
         if(qaClickable){
            if(qaAddBuffer){
                leftWing.innerHTML = "<a href="+qaClickTracker+qaCNBuffer+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+" border=0 style='width:99%; position:relative; z-index:2;'></a>";
            }
            else{
                leftWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+" border=0 style='width:99%; position:relative; z-index:2;'></a>";
            }

        }        
        leftWing.style.backgroundImage =  "url("+qaLeftCreativeURL+")";
        leftWing.style.backgroundRepeat = "no-repeat";
        leftWing.style.backgroundPosition = "right top";
        bodyTag.insertBefore(leftWing, rightWing);                
    }

    // ADD IMPRESSION TRACKING
    var trkPixImg = document.createElement('img');
    var impImg = parent.document.createElement('img');
    impImg.setAttribute('src',  qaImpTracker+qaClickPixel);

    var dfpSkinDiv = parent.document.getElementById("ad_oop_skin_01");
    if(dfpSkinDiv){
        dfpSkinDiv.appendChild(impImg);
    }

    //Build 3rd Party Impression Pixels
    for (var index = 0; index < qa3PImpressions.length; index++){
        if(qa3PImpressions[index].length > 10){
            var trkPixImg = parent.document.createElement('img');
            trkPixImg.setAttribute('src', qa3PImpressions[index]);
            trkPixImg.setAttribute('width', "1");
            trkPixImg.setAttribute('height', "1");
            trkPixImg.style.position = 'absolute';
            trkPixImg.style.visibility = 'hidden';
            leftWing.appendChild(trkPixImg);
        }   
    }              
</script>