<script type="text/javascript"> /* [%TICKET_NUM%] - V.1.0 */
// SET SKIN ATTRIBUTES
    var qaLeftCreativeURL = "http://i.cdn.turner.com/ttn/ttn_adspaces/CartoonNetwork/2014/11/05/130819758Ninjago_CN_Reskin_Left.jpg"; // Link to where the left skin gutter is located
    var qaRightCreativeURL = "http://i.cdn.turner.com/ttn/ttn_adspaces/CartoonNetwork/2014/11/05/3508191118Ninjago_CN_Reskin_Right.jpg"; // Link to where the right skin gutter is located
    var qaHeight = 1044; //Adjust to fit creative
    var qaWidth = 142; //Adjust to fit creative
    var qaBackgroundColor = "";
    var qa3PImpressions = ["http://ads.pointroll.com/PortalServe/?pid=2447158N37420141028193320&pos=i&r=$random$"]; 
    var qaTopPos = 58; //Adjust to fit creative
    var qaSkinPos = "scroll"; //fixed or scroll
    var qaClickable = true; //true false
    var qaClickThru = "http://www.yahoo.com";
    var qaAddBuffer = true;

    // DFP CLICK/IMPRESSION TRACKING
    var qaClickTracker = "%%CLICK_URL_UNESC%%";
    var qaImpTracker = "%%VIEW_URL_UNESC%%";

    var qaClickPixel = "http://i.cdn.turner.com/ttn/ttn_adspaces/1.0/creatives/2012/2/10/1529111x1.gif";
    var qaCNBuffer = "http://www.cartoonnetwork.com/redirects/index.html?";
console.log("145")
 

    var leftWing = document.createElement('div');
    var rightWing = document.createElement('div');

    window.onload = function(){   
    // POST SKIN IMAGE TO PAGE
        var bodyTag = parent.document.getElementsByTagName('body')[0];
        bodyTag.style.backgroundColor = qaBackgroundColor;


        rightWing.setAttribute('id', 'rightWing');
        rightWing.style.height = qaHeight+"px";
        rightWing.style.width = qaWidth+"px";
        rightWing.style.right = "-640px";
        rightWing.style.marginRight = "50%";
        rightWing.style.position = (qaSkinPos=="scroll" ? "absolute":"fixed");
        rightWing.style.top = qaTopPos+"px";
        if(qaClickable){
            if(qaAddBuffer){
                rightWing.innerHTML = "<a href="+qaCNBuffer+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+"border=0 style='width:99%; position:relative; z-index:2;'></a>";
            }
            else{
                rightWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+"border=0 style='width:99%; position:relative; z-index:2;'></a>";                
            }

        }
        rightWing.style.backgroundImage =  "url("+qaRightCreativeURL+")";
        rightWing.style.backgroundRepeat = "no-repeat";
        bodyTag.insertBefore(rightWing, bodyTag.firstChild);

        leftWing.setAttribute('id', 'leftWing');
        leftWing.style.height = qaHeight+"px";
        leftWing.style.width = qaWidth+"px";
        leftWing.style.left = "-640px";
        leftWing.style.marginLeft = "50%";
        leftWing.style.position = (qaSkinPos=="scroll" ? "absolute":"fixed");
        leftWing.style.top = qaTopPos+"px";
         if(qaClickable){
            if(qaAddBuffer){
                leftWing.innerHTML = "<a href="+qaCNBuffer+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+" border=0 style='width:99%; position:relative; z-index:2;'></a>";
            }
            else{
                leftWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+" border=0 style='width:99%; position:relative; z-index:2;'></a>";
            }

        }        
        leftWing.style.backgroundImage =  "url("+qaLeftCreativeURL+")";
        leftWing.style.backgroundRepeat = "no-repeat";
        leftWing.style.backgroundPosition = "right top";
        bodyTag.insertBefore(leftWing, rightWing);                
    }

    // ADD IMPRESSION TRACKING
    var trkPixImg = document.createElement('img');
    var impImg = parent.document.createElement('img');
    impImg.setAttribute('src',  qaImpTracker+qaClickPixel);

    //Build 3rd Party Impression Pixels
    for (var index = 0; index < qa3PImpressions.length; index++){
        if(qa3PImpressions[index].length > 10){
            var trkPixImg = parent.document.createElement('img');
            trkPixImg.setAttribute('src', qa3PImpressions[index]);
            trkPixImg.setAttribute('width', "1");
            trkPixImg.setAttribute('height', "1");
            trkPixImg.style.position = 'absolute';
            trkPixImg.style.visibility = 'hidden';
            leftWing.appendChild(trkPixImg);
        }      
    }              
leftWing.appendChild(impImg); 
</script>