<script type="text/javascript">  /* [%TICKET_NUM%] - V.1.0 */
    // SET SKIN ATTRIBUTES
    var qaLeftCreativeURL = "http://i.cdn.turner.com/ttn/ttn_adspaces/CartoonNetwork/2014/10/29/275820688HTTYD2_skin_LEFT_CN_2.jpg"; // Link to where the left skin gutter is located
    var qaRightCreativeURL = "http://i.cdn.turner.com/ttn/ttn_adspaces/CartoonNetwork/2014/10/29/535820818HTTYD2_skin_RIGHT_CN_2.jpg"; // Link to where the right skin gutter is located
    var qaBackgroundColor = "";
    var qa3PImpressions = ["http://ad.doubleclick.net/ad/N4873.Cartoonnetwork/B8308003.112398672;sz=1x1;ord=%%CACHEBUSTER%%?"]; // to include impressions, array must be in this format ["http://www.imp1.com","http://www.imp2.com"];
    var qaTopPos = 0; //sets IE8 only
    var qaClickable = false;
    var qaClickThru = "http://ad.doubleclick.net/ddm/clk/285563124;112398672;k";
    var qaAddBuffer = true;

    // DFP CLICK/IMPRESSION TRACKING
    var qaClickTracker = "%%CLICK_URL_UNESC%%";
    var qaImpTracker = "%%VIEW_URL_UNESC%%";

    var qaClickPixel = "http://i.cdn.turner.com/ttn/ttn_adspaces/1.0/creatives/2012/2/10/1529111x1.gif";
    var qaCNBuffer = "http://www.cartoonnetwork.com/redirects/index.html?";


    window.onload = function(){   
        // POST SKIN IMAGE TO PAGE
        var bodyTag = parent.document.getElementsByTagName('body')[0];
        bodyTag.setAttribute('id', 'ad-rail');
        
        if (navigator.userAgent.toLowerCase().indexOf('msie 8') != -1){
             function qaResize() {    
                    if (parent.document.body.offsetWidth <1000) {
                        parent.document.getElementsByTagName('body')[0].removeAttribute('id', 'ad-rail');
                    }
                    else{
                        parent.document.getElementsByTagName('body')[0].setAttribute('id', 'ad-rail');
                    }
                }    
                qaResize();
                parent.window.attachEvent("onresize", qaResize);        
        
                var leftWing = document.createElement('div');
                var rightWing = document.createElement('div');
            
                rightWing.setAttribute('id', 'rightWing');
                rightWing.style.height = "1000px";
                rightWing.style.width = "10%";
                rightWing.style.right = "-50%";
                rightWing.style.marginRight = "50%";
                rightWing.style.position = "fixed";
                rightWing.style.top = qaTopPos+"px";
                if(qaClickable){
                    if(qaAddBuffer){
                        rightWing.innerHTML = "<a href="+qaCNBuffer+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height=1000 border=0 style='width:99%; position:relative; z-index:2;'></a>";
                    }
                    else{
                        rightWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height=1000 border=0 style='width:99%; position:relative; z-index:2;'></a>";  
                    }
                }
                rightWing.style.backgroundImage =  "url("+qaRightCreativeURL+")";
                rightWing.style.backgroundRepeat = "no-repeat";
                bodyTag.insertBefore(rightWing, bodyTag.firstChild);
                
                leftWing.setAttribute('id', 'leftWing');
                leftWing.style.height = "1000px";
                leftWing.style.width = "10%";
                leftWing.style.left = "-50%";
                leftWing.style.marginLeft = "50%";
                leftWing.style.position ="fixed";
                leftWing.style.top = qaTopPos+"px";
                 if(qaClickable){
                     if(qaAddBuffer){
                        leftWing.innerHTML = "<a href="+qaCNBuffer+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height=1000 border=0 style='width:99%; position:relative; z-index:2;'></a>";
                    }
                    else{
                        leftWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height=1000 border=0 style='width:99%; position:relative; z-index:2;'></a>";  
                    }
                }
                leftWing.style.backgroundImage =  "url("+qaLeftCreativeURL+")";
                leftWing.style.backgroundRepeat = "no-repeat";
                leftWing.style.backgroundPosition = "right top";
                bodyTag.insertBefore(leftWing, rightWing);   
        }
        else{
                bodyTag.style.backgroundImage = "url("+qaLeftCreativeURL+"), url("+qaRightCreativeURL+")";
                bodyTag.style.backgroundRepeat = "no-repeat";
                bodyTag.style.backgroundColor = qaBackgroundColor;
                bodyTag.style.backgroundAttachment = "fixed";
                bodyTag.style.backgroundPosition = "left 20px, right 20px";

                //SET THE CLICKABLE AREA FOR THE SKIN
                if(qaClickable){
                    var leftWing = document.createElement('div');
                    var rightWing = document.createElement('div');       
             
                    rightWing.setAttribute('id', 'rightWing');
                    rightWing.style.height = "1000px";
                    rightWing.style.width = "10%";
                    rightWing.style.left = "90%";
                    rightWing.style.position = "fixed";
                    rightWing.style.top = "80px";
                    if(qaAddBuffer){
                        rightWing.innerHTML = "<a href="+qaCNBuffer+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height=1000 border=0 style='width:99%; position:relative; z-index:2;'></a>";
                    }
                    else{
                        rightWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height=1000 border=0 style='width:99%; position:relative; z-index:2;'></a>";  
                    }
                    bodyTag.insertBefore(rightWing, bodyTag.firstChild);

                    leftWing.setAttribute('id', 'leftWing');
                    leftWing.style.height = "1000px";
                    leftWing.style.width = "10%";
                    leftWing.style.left = "0";
                    leftWing.style.position = "fixed";
                    leftWing.style.top = "80px";
                    if(qaAddBuffer){
                        leftWing.innerHTML = "<a href="+qaCNBuffer+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height=1000 border=0 style='width:99%; position:relative; z-index:2;'></a>";
                    }
                    else{
                        leftWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height=1000 border=0 style='width:99%; position:relative; z-index:2;'></a>";  
                    }
                    bodyTag.insertBefore(leftWing, rightWing);
                }
            }
        var dfpSkinDiv = parent.document.getElementById("ad_oop_skin_01");
        if(dfpSkinDiv){
            dfpSkinDiv.style.display = "none";
        }
    }    
        
    // ADD IMPRESSION TRACKING
    var trkPixImg = document.createElement('img');
    var impImg = parent.document.createElement('img');
    impImg.setAttribute('src',  qaImpTracker+qaClickPixel);

    //Build 3rd Party Impression Pixels
    var parentIfrm = "";
    parentIfrm = window.frameElement;
    for (var index = 0; index < qa3PImpressions.length; index++){
        if(qa3PImpressions[index].length > 10){
            var trkPixImg = parent.document.createElement('img');
            trkPixImg.setAttribute('src', qa3PImpressions[index]);
            trkPixImg.setAttribute('width', "1");
            trkPixImg.setAttribute('height', "1");
            trkPixImg.style.position = 'absolute';
            trkPixImg.style.visibility = 'hidden';
            parentIfrm.appendChild(trkPixImg);
            parentIfrm.appendChild(impImg);
        }
    }              
</script>



