<!--   for dfp, click and impression tracking are added...need testing 
Need cross browser testing done since this is a new template for nba....to be adapted to as many sites as possible

all parameters need to be taken into account. certain things are spec for nba like background color and fixed position.

ticket num to be selectable criteria
maybe start over with versions

excessive comments can be removed from below and put into the fields in DFP

-->


<script type="text/javascript">/* Ticket# - V.1.1 */
// SET SKIN ATTRIBUTES
    var qaCreativeURL = "http://i.cdn.turner.com/nba/nba/nba_adspaces/1.0/creatives/2013/4/17/3543813Playoffs-BGSkin.jpg"; // URL TO CREATIVE
    var qaBackgroundColor = "#8f8f8f"; ///must be val for nba
    var qaWidth = 1900; // WIDTH OF CREATIVE
    var qaHeight = 1600; // HEIGHT OF CREATIVE
    var qaClickThru = "http://www.yahoo.com"; // Left REDIRECT URL - Set only if left and right rails have different click-through
    var qa3PImpressions = []; // to include impressions, array must be in this format ["http://www.imp1.com","http://www.imp2.com"];
    var qaSkinPos = "fixed"; //scroll or fixed
    var qaClickable = true;  // true or false
    var qaTopPos = 0; // Set to 0 to flush to the top

var changeDomain = document.location.hostname.search(/^ads\./);
     if(changeDomain != -1){document.domain = document.location.hostname.replace(/^ads\./, '');}

// CLICK TRACKING
    var qaClickTracker = "%%CLICK_URL_UNESC%%";
    
    var qaClickPixel = "http://i.cdn.turner.com/ttn/ttn_adspaces/1.0/creatives/2012/2/10/1529111x1.gif";

// POST SKIN IMAGE TO PAGE
    var bodyTag = document.getElementsByTagName('body')[0];
          bodyTag.style.overflowX = "hidden";
console.log("bodyTag: "+bodyTag.id);

    bodyTag.style.background = qaBackgroundColor+" url('"+qaCreativeURL+"') no-repeat "+qaSkinPos+" center "+qaTopPos+"px";
    
    
 console.log("**"+qaBackgroundColor+" url("+qaCreativeURL+") no-repeat "+qaSkinPos+" center "+qaTopPos+"px");       
 
 
// ADD IMPRESSION TRACKING
    var impDiv = document.createElement('div');
    var trkPixImg = document.createElement('img');
    var skinLink = document.createElement('a');
    var skinImg = document.createElement('img');
    var leftWing = document.createElement('div');
    var rightWing = document.createElement('div');

//SET THE BACKGROUND IMAGE TO THE DIV
    skinImg.setAttribute('src', qaClickPixel);
    skinImg.setAttribute('width', qaWidth + "px");
    skinImg.setAttribute('height', qaHeight + "px");
    

//SET THE CLICKABLE AREA FOR THE SKIN
	if(qaClickable){
		rightWing.setAttribute('id', 'rightWing');
		rightWing.style.border = "2px solid red";
		rightWing.style.height = qaHeight+"px";
		rightWing.style.width = "25%";
		rightWing.style.right = "25%";
		rightWing.style.marginRight = "-500px";
		rightWing.style.position = (qaSkinPos=="scroll" ? "absolute":"fixed");
		rightWing.style.zIndex = "1";
		rightWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+" border=0 style='width:99%; position:relative; z-index:2;'></a>";
		bodyTag.insertBefore(rightWing, bodyTag.firstChild);
		
		leftWing.setAttribute('id', 'leftWing');
		leftWing.style.border = "2px solid blue";
		leftWing.style.height = qaHeight+"px";
		leftWing.style.width = "25%";
		leftWing.style.left = "25%";
		leftWing.style.marginLeft = "-500px";
		leftWing.style.position = (qaSkinPos=="scroll" ? "absolute":"fixed");
		leftWing.style.zIndex = "1";
		leftWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+" border=0 style='width:99%; position:relative; z-index:2;'></a>";
		bodyTag.insertBefore(leftWing, rightWing);
	}

//BUILD THE SMARTCOUNT TAG
    impDiv.innerHTML = '%%VIEW_URL_UNESC%%';
    impDiv.style.position = 'absolute';
    impDiv.style.visibility = 'hidden';


//BUILD THE 3RD PARTY IMPRESSION PIXELS
    for (var index = 0; index < qa3PImpressions.length; index++){
        trkPixImg = document.createElement('img');
        trkPixImg.setAttribute('src', qa3PImpressions[index]);
        trkPixImg.setAttribute('width', "1");
        trkPixImg.setAttribute('height', "1");
        trkPixImg.style.position = 'absolute';
        trkPixImg.style.visibility = 'hidden';
        leftWing.appendChild(trkPixImg);
    }    
    leftWing.appendChild(impDiv);

</script>