<script type="text/javascript">
console.log("LOADING TNT SKIN...1235");

var qaCreativeURL = "http://i.cdn.turner.com/ttn/ttn_adspaces/TNT/2014/12/03/1737091347Librarians_Tracfone360_skin_FPO_2560x1240.jpg";
var qaClickThru = "http://www.yahoo.com";
var qaClickable = true;
var qa3PImpressions = ["http://ads.pointroll.com/PortalServe/?pid=2469331X45220141118165238.1&pos=i&r=","http://ads.pointroll.com/PortalServe/?pid=2469331X45220141118165238.2&pos=i&r="];     

    
// DFP CLICK/IMPRESSION TRACKING
var qaClickTracker = "%%CLICK_URL_UNESC%%";
var skinDiv = "";

var videoSkinAreaDiv = parent.document.getElementsByTagName('div');
for(x in videoSkinAreaDiv){
	if(videoSkinAreaDiv[x].className == "videoSkinArea"){
		skinDiv = videoSkinAreaDiv[x];
		skinDiv.style.backgroundImage = "url("+qaCreativeURL+")";
	}
}


var leftClickAreaDiv = parent.document.getElementById('leftclick');
if(leftClickAreaDiv){
	if(qaClickable){
		leftClickAreaDiv.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'></a>";
	}
	else{
		leftClickAreaDiv.innerHTML = "";
	}
}
var rightClickAreaDiv = parent.document.getElementById('rightclick');
if(rightClickAreaDiv){
	if(leftClickAreaDiv){
		rightClickAreaDiv.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'></a>";
	}
	else{
		rightClickAreaDiv.innerHTML = "";
	}
}


//Build 3rd Party Impression Pixels
for (var index = 0; index < qa3PImpressions.length; index++) {
    if(qa3PImpressions[index].length > 10){
        var trkPixImg = parent.document.createElement('img');
        trkPixImg.setAttribute('src', qa3PImpressions[index]);
        trkPixImg.setAttribute('width', "1");
        trkPixImg.setAttribute('height', "1");
        trkPixImg.style.position = 'absolute';
        trkPixImg.style.visibility = 'hidden';
        skinDiv.appendChild(trkPixImg);
    }
}


</script>



@@@@@@@@@@@@@@@@@@@@@

<script type="text/javascript">
	var qaCreativeURL = "[%IMAGE_URL%]"; 
	var qaClickThru = "[%CLICKTHROUGH_URL%]";
	var qaClickable = [%CLICKABLE%]; 
	var qa3PImpressions = ["[%IMP_PIXEL1%]","[%IMP_PIXEL2%]","[%IMP_PIXEL3%]","[%IMP_PIXEL4%]","[%IMP_PIXEL5%]"];     

	// DFP CLICK/IMPRESSION TRACKING
	var qaClickTracker = "%%CLICK_URL_UNESC%%";
	var skinDiv = "";

	var videoSkinAreaDiv = parent.document.getElementsByTagName('div');
	for(x in videoSkinAreaDiv){
		if(videoSkinAreaDiv[x].className == "videoSkinArea"){
			skinDiv = videoSkinAreaDiv[x];
			skinDiv.style.backgroundImage = "url("+qaCreativeURL+")";
		}
	}

	var leftClickAreaDiv = parent.document.getElementById('leftclick');
	if(leftClickAreaDiv){
		if(qaClickable){
			leftClickAreaDiv.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'></a>";
		}
		else{
			leftClickAreaDiv.innerHTML = "";
		}
	}
	var rightClickAreaDiv = parent.document.getElementById('rightclick');
	if(rightClickAreaDiv){
		if(qaClickable){
			rightClickAreaDiv.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'></a>";
		}
		else{
			rightClickAreaDiv.innerHTML = "";
		}
	}

	//Build 3rd Party Impression Pixels
	for (var index = 0; index < qa3PImpressions.length; index++) {
	    if(qa3PImpressions[index].length > 10){
	        var trkPixImg = parent.document.createElement('img');
	        trkPixImg.setAttribute('src', qa3PImpressions[index]);
	        trkPixImg.setAttribute('width', "1");
	        trkPixImg.setAttribute('height', "1");
	        trkPixImg.style.position = 'absolute';
	        trkPixImg.style.visibility = 'hidden';
	        skinDiv.appendChild(trkPixImg);
	    }
	}

</script>









@@@@@@@@@@@@@@@@@@@@@


<img src="%%VIEW_URL_UNESC%%http://i.cdn.turner.com/ttn/ttn_adspaces/1.0/creatives/2012/2/10/1529111x1.gif"> 




background-size: 100% 100% !important


class = videoSkinArea

http://i.cdn.turner.com/ttn/ttn_adspaces/TNT/2014/12/02/0605151463Librarians_Tracfone360_skin_v1_2560x1240.jpg

http://i.cdn.turner.com/ttn/ttn_adspaces/TNT/2014/12/03/1737091347Librarians_Tracfone360_skin_FPO_2560x1240.jpg



  //AMPTManager.renderSingleSlot("page-embed360-video", [[1,1]], [["pos",["mod"]]], [], adunit, 0);

            // Renders a single slot
            renderSingleSlot: function(divId, size, slotTargeting, responsive, adunit, delay){
                // Call renderSponsoredAd using the supplied parameters.
                AMPTManager.renderSponsoredAd(divId, size, slotTargeting, responsive, adunit);
            },  





                    var floaterDiv = parent.document.getElementsByTagName('div');
            for (x in floaterDiv) {
                var floaterDivVar = floaterDiv[x];
                if (floaterDivVar.className == "floaters") {
                    floaterDivVar.style.backgroundImage = bg;
                    floaterDivVar.style.backgroundPosition = "center top";
                    break;
                }