<script> /* [%TICKET_NUM%] - V.1.0 */
    console.log("1124")
    
    var qaCreativeURL = "http://i.cdn.turner.com/ttn/ttn_adspaces/CNN/2014/12/04/4733111751111814_SwissAir_CNNNext_BackgroundSkins.jpg";   //"[%IMAGE_URL%]"; // Link to where the skin creative is located
    var qaWidth = 1920; //[%WIDTH%];  WIDTH OF CREATIVE
    var qaHeight = 1500; //[%HEIGHT%];  HEIGHT OF CREATIVE   
    var qaClickThru = "http://www.yahoo.com"; //"[%CLICKTHROUGH_URL%]";  Redirect URL
    var qa3PImpressions = [] //["[%IMP_PIXEL1%]","[%IMP_PIXEL2%]","[%IMP_PIXEL3%]","[%IMP_PIXEL4%]","[%IMP_PIXEL5%]"];  
    var qaSkinPos = "scroll"; //"[%POSITION%]"; scroll or fixed
    var qaClickable = true; ///[%CLICKABLE%];  need to add functionality
    var qaBackgroundColor = "";  //"[%BACKGROUND_COLOR%]"; //this should remain as #00203C for the legacy site #002647 for new site
    var qaTopPos = 0;
     
    // DFP CLICK/IMPRESSION TRACKING
    var qaClickTracker = "%%CLICK_URL_UNESC%%";
    var qaImpTracker = "%%VIEW_URL_UNESC%%";

    var qaClickPixel = "http://i.cdn.turner.com/ttn/ttn_adspaces/1.0/creatives/2012/2/10/1529111x1.gif";

// BUILD THE DIV TO CONTAIN THE SKIN AS THE FIRST DIV IN THE BODY
    var bodyTag = parent.document.getElementsByTagName('body')[0];
  //   bodyTag.style.background = qaBackgroundColor+" url('"+qaCreativeURL+"') no-repeat  "+qaSkinPos+" center "+qaTopPos+"px"; 


//BRING THE FOOTER & MAIN SECTIONS FORWARD ON TOP OF THE SKIN    
   /* window.onload = function(){   
        var pageDiv = parent.document.getElementById('page');
        if(pageDiv){
            pageDiv.style.position = "relative";
            pageDiv.style.zIndex = "1";
        }
        var headerBar = parent.document.getElementById('header-bar');
        if(headerBar){
            headerBar.style.zIndex = "1";
        }        
    }*/

    ////.pg-side-of-rail
///data-vr-zone: zone-0-0




var sectionTags = parent.document.getElementsByTagName('section');
for(x in sectionTags)
{
    console.log("sectionTag Class: "+sectionTags[x].dataset.vrZone)

    if(sectionTags[x].dataset.vrZone == "zone-0-0"){
        sectionTags[x].style.background = qaBackgroundColor+" url('"+qaCreativeURL+"') no-repeat  "+qaSkinPos+" center "+qaTopPos+"px"; 
        break;
    }
}
   
// ADD IMPRESSION TRACKING
    var impImg = parent.document.createElement('img');
    var trkPixImg = parent.document.createElement('img');
    var skinLink = parent.document.createElement('a');
    var skinImg = parent.document.createElement('img');


//SET THE CLICKABLE AREA FOR THE SKIN
    if(qaClickable){
        var leftWing = document.createElement('div');
        var rightWing = document.createElement('div');

        rightWing.setAttribute('id', 'rightWing');
        rightWing.style.height = qaHeight+"px";
        rightWing.style.width = "25%";
        rightWing.style.right = "25%";
        rightWing.style.marginRight = "-550px";
        rightWing.style.position = (qaSkinPos=="scroll" ? "absolute":"fixed");
        rightWing.style.top = qaTopPos+"px";
        rightWing.style.zIndex = "1";
        rightWing.style.border = "2px solid red"
        rightWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+" border=0 style='width:99%; height:99%; position:relative; z-index:2;'></a>";
        bodyTag.insertBefore(rightWing, bodyTag.firstChild);
        
        leftWing.setAttribute('id', 'leftWing');
        leftWing.style.height = qaHeight+"px";
        leftWing.style.width = "25%";
        leftWing.style.left = "25%";
        leftWing.style.marginLeft = "-550px";
        leftWing.style.position = (qaSkinPos=="scroll" ? "absolute":"fixed");
        leftWing.style.top = qaTopPos+"px";
        leftWing.style.border = "2px solid blue"
        leftWing.style.zIndex = "1";
        leftWing.innerHTML = "<a href="+qaClickTracker+qaClickThru+" target='_blank'><img src="+qaClickPixel+" width=1 height="+qaHeight+" border=0 style='width:99%; height:99%; position:relative; z-index:2;'></a>";
        bodyTag.insertBefore(leftWing, rightWing);
    }

//BUILD THE IMPRESSION TRACKING TAG
    impImg.setAttribute('src',  qaImpTracker+qaClickPixel);

//BUILD THE 3RD PARTY IMPRESSION PIXELS
    for (var index = 0; index < qa3PImpressions.length; index++){
        if(qa3PImpressions[index].length > 10){
            trkPixImg = document.createElement('img');
            trkPixImg.setAttribute('src', qa3PImpressions[index]);
            trkPixImg.setAttribute('width', "1");
            trkPixImg.setAttribute('height', "1");
            trkPixImg.style.position = 'absolute';
            trkPixImg.style.visibility = 'hidden';
            leftWing.appendChild(trkPixImg);
        }
    }    
    leftWing.appendChild(impImg);
</script>
